#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-wrapper {
  border: 1px solid var(--color-auro-metal-saurus);
  border-radius: 20px;
  background-color: var(--color-eerie-black);
  margin: 0;
  padding: 40px;
  position: relative;
  z-index: 1;

  @media (min-width: 1024px) {
    margin: 0 40px;
  }
}
